body,html{width:100%;height:100%;}
html,body,#container {
    height: 100%;
    padding:0;margin:0;
}
#content-main, #nav-main {
    padding-bottom: 0;padding:0;margin:0;
}
#container {
    height: calc(100% - 35px);padding:0;margin:0;
}

#data { margin-left:320px; }
#data textarea { margin:0; padding:0; height:100%; width:100%; border:0; background:white; display:block; line-height:18px; resize:none; }
#data, #code { font: normal normal normal 12px/18px 'Consolas', monospace !important; }

#siteTree .folder { background:url('../../scripts/lib/jstree/themes/default/file_sprite2.png') right bottom no-repeat; }
#siteTree .folder-custom {
    background-position: -505px -18px;
}
#siteTree .file { background:url('../../scripts/lib/jstree/themes/default/file_sprite2.png') 0 0 no-repeat; }
#siteTree .file-pdf { background-position: -32px 0 }
#siteTree .file-as { background-position: -36px 0 }
#siteTree .file-c { background-position: -72px -0px }
#siteTree .file-iso { background-position: -108px -0px }
#siteTree .file-htm, #siteTree .file-html, #siteTree .file-xml, #siteTree .file-xsl { background-position: -126px -0px }
#siteTree .file-cf { background-position: -162px -0px }
#siteTree .file-cpp { background-position: -216px -0px }
#siteTree .file-cs { background-position: -236px -0px }
#siteTree .file-sql { background-position: -272px -0px }
#siteTree .file-xls, #siteTree .file-xlsx { background-position: -362px -0px }
#siteTree .file-h { background-position: -488px -0px }
#siteTree .file-crt, #siteTree .file-pem, #siteTree .file-cer { background-position: -452px -18px }
#siteTree .file-php { background-position: -108px -18px }
#siteTree .file-jpg, #siteTree .file-jpeg, #siteTree .file-png, #siteTree .file-gif, #siteTree .file-bmp { background-position: -126px -18px }
#siteTree .file-ppt, #siteTree .file-pptx { background-position: -144px -18px }
#siteTree .file-rb { background-position: -180px -18px }
#siteTree .file-text, #siteTree .file-txt, #siteTree .file-md, #siteTree .file-log, #siteTree .file-htaccess { background-position: -254px -18px }
#siteTree .file-doc, #siteTree .file-docx { background-position: -362px -18px }
#siteTree .file-zip, #siteTree .file-gz, #siteTree .file-tar, #siteTree .file-rar { background-position: -416px -18px }
#siteTree .file-js { background-position: -434px -18px }
#siteTree .file-css { background-position: -144px -0px }
#siteTree .file-fla, #siteTree .file-swf { background-position: -398px -0px }

#siteTree .custom-asset {
    color: blue;
}

.jstree-contextmenu {
    z-index: 99999;
}
#searchBox {
    line-height: 10px;
    vertical-align: middle;
    width: 110px;
}
#searchBox + button {
    vertical-align: middle;
}
.search-box {
    margin-left: 16px;
}
#editor-panel {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.editor-main{
    margin-top: 4px;
}
.editor-main.feedback-info {
    margin: 20px !important;
}
.editor-toolbar{
    background: #e8e8e8;
    padding-left: 5px;
}

@media (prefers-color-scheme: dark) {
    .editor-toolbar{
        background: #323f48 !important;
        padding-left: 5px;
    }
    tab.selected {
        background-color: #72c5a2 !important;
        color: black !important;
    }
}
.editor-toolbar-fullscreen{
    background: #e8e8e8;
    padding-left: 5px;
}
.editor-toolbar button {
    vertical-align: middle;
    margin-top: 2px;
}
#sidebar{
    width:300px;
    resize: horizontal;
    border-right: 1px solid #ccc;
}
#ghostbar{
    width:3px;
    background-color:#000;
    opacity:0.5;
    position:absolute;
    cursor: col-resize;
    z-index:999}

ul.tabs {
    margin: 0px !important;
}
ul.tabs li, ul.tabs li:hover, ul.tabs li.selected{
    padding-left:5px;
    padding-right:5px;
}

/*overrides*/
.group:after {
  content: '';
  display:none;
  clear: none;
}
.jstree-default .jstree-node {
    margin-left: 24px !important;
}
#siteTree {
    overflow: auto;
}
#content-main {
    background-image: none !important;
    display: flex;
    flex-direction: row;
}

.nav > li > a {
    padding: 5px !important;
}

ul.nav-tabs {
    margin: 0px !important;
    background-color:#00ff0000;
}

.close {
    font-size: 12px !important;
    padding-left: 4px !important;
    float: none !important;
}

ul > li {
    list-style-type: none !important;
}

.feedback-confirm, .feedback-caution, .feedback-alert, .feedback-error, .feedback-note, .feedback-info {
    margin: 0 !important;
}
.flex-container{
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
}
.flex-container>h4{
    flex-grow: 1;
    -webkit-flex-grow: 1;
    padding-left:10px;
    margin-left:0;
    margin-bottom:0;
}
.flex-container>span{
    flex: 0 0 60px;
    -webkit-flex: 0 0 60px;
    border-bottom:1px solid #ccc;
}
#flex-container {
    height: calc(100% - 166px) !important;
    position:relative;
}
#flex-container > div#acediff-gutter {
    flex: 0 0 10px;
}
#flex-container > div {
    flex-grow: 2;
}
span.separator{
    padding:0 2px;
    color:black;
}

@media (prefers-color-scheme: dark) {
    span.separator {
        padding:0 2px;
        color:#CBD2D9 !important;
    }
    span.separator::placeholder {
        padding:0 2px;
        color:#CBD2D9 !important;
    }
}
.buttonsmaller{
    height: 20px;
    font-size: 12px;
}
.modal-open {
    overflow: hidden;
}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}
.modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform .3s ease-out;
    -o-transition:      -o-transform .3s ease-out;
    transition:         transform .3s ease-out;
    -webkit-transform: translate3d(0, -25%, 0);
    -o-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
}
.modal.in .modal-dialog {
    -webkit-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}
.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}
.modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}
.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
}
.modal-backdrop.fade {
    filter: alpha(opacity=0);
    opacity: 0;
}
.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .5;
}
.modal-header {
    min-height: 16.42857143px;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}
.modal-header .close {
    margin-top: -2px;
}
.modal-title {
    margin: 0;
    line-height: 1.42857143;
}
.modal-body {
    position: relative;
    padding: 15px;
}
.modal-footer {
    padding: 5px 5px 5px 0px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
    background-color: #e5e5e5;
}
.modal-footer .btn + .btn {
    margin-bottom: 0;
    margin-left: 5px;
}
.modal-footer .btn-group .btn + .btn {
    margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
    margin-left: 0;
}
.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
}
@media (min-width: 768px) {
    .modal-dialog {
        width: 600px;
        margin: 30px auto;
    }
    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    }
    .modal-sm {
        width: 300px;
    }
}
@media (min-width: 992px) {
    .modal-lg {
        width: 900px;
    }
}
.img-container{
    margin-top:10px;
    margin-left: 10px;
}
#img-container > div {
    flex-grow: 2;
}
#img-container {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    position: absolute;

    /* these 3 lines are to prevents an unsightly scrolling bounce affect on Safari */
    height: calc(100% - 100px) !important;
    width: 80%;
    overflow: auto;
}
#img-container>div {
    flex-grow: 1;
    -webkit-flex-grow: 1;
    position: relative;
}
.vertical-text-left {
    padding-bottom: 12px;
    float: left;
    white-space: nowrap;
    writing-mode: vertical-lr;
    text-orientation: upright;
    font-weight: bold;
}
.vertical-text-right {
    padding-bottom: 12px;
    float: right;
    white-space: nowrap;
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-weight: bold;
}
